In [1]:
import pandas as pd

In [4]:
btce_1_268w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_1_268w.csv",header=0)
btce_1_268w.head()

     unixtime    price
0  1396572190  439.523
1  1396572207  437.578
2  1396572228  437.534
3  1396572269  437.535
4  1396572309  437.541

In [10]:
btce_268w_300w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_268w_300w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_268w_300w.head()

     unixtime     price
0  1408600733  505.8490
1  1408600753  505.8480
2  1408600757  505.0010
3  1408600761  505.0402
4  1408600762  505.0500

In [14]:
btce_1_300w=pd.concat([btce_1_268w,btce_268w_300w],ignore_index=True)
btce_1_300w.head()

     unixtime    price
0  1396572190  439.523
1  1396572207  437.578
2  1396572228  437.534
3  1396572269  437.535
4  1396572309  437.541

In [12]:
btce_268w_300w.tail()

         unixtime       price
53347  1409473651  485.958381
53348  1409473652  486.203000
53349  1409473653  486.218520
53350  1409473654  486.203553
53351  1409473655  486.203622

In [15]:
btce_1_300w.tail()

          unixtime       price
918835  1409473651  485.958381
918836  1409473652  486.203000
918837  1409473653  486.218520
918838  1409473654  486.203553
918839  1409473655  486.203622

In [16]:
btce_300w_350w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_300w_350w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_350w_400w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_350w_400w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_400w_450w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_400w_450w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_450w_500w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_450w_500w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_500w_583w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_500w_583w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_583w_650w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_583w_650w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_650w_700w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_650w_700w.csv",header=None,skiprows=2,names=['unixtime','price'])


btce_1_700w=pd.concat([btce_1_300w,btce_300w_350w,btce_350w_400w,btce_450w_500w,btce_500w_583w,btce_583w_650w,btce_650w_700w],ignore_index=True)
len(btce_1_700w)

1946157

In [21]:
btce_700w_800w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_700w_800w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_800w_850w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_800w_850w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_850w_875w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_850w_875w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_875w_900w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_875w_900w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_900w_1000w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_900w_1000w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_1000w_1197w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_1000w_1197w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_1197w_1300w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_1197w_1300w.csv",header=None,skiprows=2,names=['unixtime','price'])


btce_1_1300w=pd.concat([btce_1_700w,btce_700w_800w,btce_800w_850w,btce_850w_875w,btce_875w_900w,btce_900w_1000w,btce_1000w_1197w,btce_1197w_1300w],ignore_index=True)
btce_1_1300w.tail()

             unixtime     price
4424018  1.456058e+09  429.1120
4424019  1.456058e+09  429.0185
4424020  1.456058e+09  429.0000
4424021  1.456058e+09  429.0370
4424022  1.456058e+09  429.1110

In [22]:
btce_1300w_1350w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_1300w_1350w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_1350w_1400w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_1350w_1400w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_1400w_1410w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_1400w_1410w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_1410w_1420w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_1410w_1420w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_1420w_1430w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_1420w_1430w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_1430w_1440w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_1430w_1440w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_1440w_1450w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_1440w_1450w.csv",header=None,skiprows=2,names=['unixtime','price'])


btce_1_1450w=pd.concat([btce_1_1300w,btce_1300w_1350w,btce_1350w_1400w,btce_1400w_1410w,btce_1410w_1420w,btce_1420w_1430w,btce_1430w_1440w,btce_1440w_1450w],ignore_index=True)
btce_1_1450w.tail()

             unixtime    price
5132211  1.467043e+09  619.000
5132212  1.467043e+09  619.000
5132213  1.467043e+09  618.999
5132214  1.467043e+09  618.999
5132215  1.467043e+09  618.999

In [23]:
btce_1450w_1460w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_1450w_1460w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_1460w_1470w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_1460w_1470w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_1470w_1500w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_1470w_1500w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_1500w_1510w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_1500w_1510w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_1510w_1550w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_1510w_1550w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_1550w_1575w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_1550w_1575w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_1575w_1600w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_1575w_1600w.csv",header=None,skiprows=2,names=['unixtime','price'])


btce_1_1600w=pd.concat([btce_1_1450w,btce_1450w_1460w,btce_1460w_1470w,btce_1470w_1500w,btce_1500w_1510w,btce_1510w_1550w,btce_1550w_1575w,btce_1575w_1600w],ignore_index=True)
btce_1_1600w.tail()

             unixtime     price
6046057  1.478001e+09  718.1340
6046058  1.478001e+09  718.6408
6046059  1.478001e+09  718.9990
6046060  1.478001e+09  718.0010
6046061  1.478001e+09  718.5000

In [25]:
btce_1600w_1650w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_1600w_1650w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_1650w_1675w=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_1650w_1675w.csv",header=None,skiprows=2,names=['unixtime','price'])
btce_1675w_end=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_1675w_end.csv",header=None,skiprows=2,names=['unixtime','price'])

btce_1_end=pd.concat([btce_1_1600w,btce_1600w_1650w,btce_1650w_1675w,btce_1675w_end],ignore_index=True)
btce_1_end.tail()

             unixtime     price
6534237  1.483228e+09  929.4975
6534238  1.483228e+09  928.8950
6534239  1.483228e+09  928.8960
6534240  1.483228e+09  929.4920
6534241  1.483228e+09  929.4910

In [26]:
btce_1_end.describe()

           unixtime         price
count  6.534242e+06  6.534242e+06
mean   1.441820e+09  4.349469e+02
std    2.544371e+07  1.700042e+02
min    1.396572e+09  1.550247e+02
25%    1.421305e+09  2.728500e+02
50%    1.444272e+09  4.165290e+02
75%    1.464471e+09  5.845200e+02
max    1.483228e+09  9.457620e+02

In [31]:
btce_1_end.iloc[-1].unixtime

1483227989.0

In [32]:
btce_1_end.to_csv("C:/Users/Bao Yu/Desktop/project/data/btce_2.0.csv")