In [1]:
import pandas as pd
pd.set_option('display.float_format',lambda x : '%.2f' % x)

In [2]:
itbit=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/itbit_6000s_sampling.csv",header=None,names=['unixtime','itbit_price'])
itbit.head()

       unixtime  itbit_price
0 1396572190.00       441.50
1 1396578190.00       441.50
2 1396584190.00       438.87
3 1396590190.00       435.28
4 1396596190.00       444.56

In [3]:
btce=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/btce_6000s_sampling.csv",header=None,names=['unixtime','btce_price'])
print(btce.head())
print('--------------')
stamp=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/bitstamp_6000s_sampling.csv",header=None,names=['unixtime','stamp_price'])
stamp.head()

       unixtime  btce_price
0 1396572190.00      439.52
1 1396578190.00      439.00
2 1396584190.00      433.99
3 1396590190.00      425.00
4 1396596190.00      441.11
--------------

       unixtime  stamp_price
0 1396572190.00       457.38
1 1396578190.00       447.54
2 1396584190.00       442.08
3 1396590190.00       442.09
4 1396596190.00       452.57

In [16]:
data=pd.merge(itbit,btce,on='unixtime')
data=pd.merge(data,stamp,on='unixtime')
data.head()

       unixtime  itbit_price  btce_price  stamp_price
0 1396572190.00       441.50      439.52       457.38
1 1396578190.00       441.50      439.00       447.54
2 1396584190.00       438.87      433.99       442.08
3 1396590190.00       435.28      425.00       442.09
4 1396596190.00       444.56      441.11       452.57

In [ ]:
data.to_csv("C:/Users/Bao Yu/Desktop/project/data/itbit_6000s_sampling.csv")