In [1]:
import pandas as pd
pd.set_option('display.float_format',lambda x : '%.2f' % x)

In [2]:
stamp=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/processed_data/bitstamp_2.0.csv",header=0)
stamp.head()

     unixtime  price
0  1396572190 457.38
1  1396572196 449.33
2  1396572243 457.74
3  1396572249 455.43
4  1396572303 458.37

In [3]:
stamp_sample = pd.DataFrame(columns=['unixtime','price'])
time=stamp.iloc[0].unixtime
price=stamp.iloc[0].price
stamp_sample=stamp_sample.append(stamp.iloc[0])
#stamp_sample=stamp_sample.append({'unixtime':time,
 #                   'price':price},ignore_index=True)


end=stamp.iloc[-1]['unixtime']
i=0
while(time<=end):
    if(i%1000==0):print(i)
    time+=16000
    if(time in stamp['unixtime']):
        stamp_sample=stamp_sample.append(stamp.loc[stamp['unixtime']==time],ignore_index=True)     
    else:
        index=stamp.iloc[stamp.loc[(time-stamp['unixtime'])>=0].unixtime.argsort()[-1:]].index
        stamp_sample=stamp_sample.append(stamp.iloc[index],ignore_index=True)
        stamp_sample.iloc[-1,0]=time
    i=i+1
stamp_sample.head()

0
1000
2000
3000
4000
5000

       unixtime  price
0 1396572190.00 457.38
1 1396588190.00 448.15
2 1396604190.00 450.78
3 1396620190.00 448.58
4 1396636190.00 449.00

In [4]:
stamp_sample.to_csv("C:/Users/Bao Yu/Desktop/project/data/bitstamp_16000s_sampling.csv",header=0)

In [5]:
itbit=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/processed_data/itbit_2.0.csv",header=0)
itbit.head()

     unixtime  price
0  1396572190 441.50
1  1396572191 441.50
2  1396572192 441.50
3  1396572432 441.50
4  1396572433 441.50

In [6]:
(itbit.iloc[-1].unixtime-itbit.iloc[0].unixtime)/16000

5415.959625

In [7]:
itbit_sample = pd.DataFrame(columns=['unixtime','price'])
time=itbit.iloc[0].unixtime
price=itbit.iloc[0].price
itbit_sample=itbit_sample.append(itbit.iloc[0])



end=itbit.iloc[-1]['unixtime']
i=0
while(time<=end):
    if(i%1000==0):print(i)
    time+=16000
    if(time in itbit['unixtime']):
        itbit_sample=itbit_sample.append(itbit.loc[itbit['unixtime']==time],ignore_index=True)     
    else:
        index=itbit.iloc[itbit.loc[(time-itbit['unixtime'])>=0].unixtime.argsort()[-1:]].index
        itbit_sample=itbit_sample.append(itbit.iloc[index],ignore_index=True)
        itbit_sample.iloc[-1,0]=time
    i=i+1
itbit_sample.head()

0
1000
2000
3000
4000
5000

       unixtime  price
0 1396572190.00 441.50
1 1396588190.00 434.17
2 1396604190.00 442.92
3 1396620190.00 434.30
4 1396636190.00 446.00

In [8]:
itbit_sample.to_csv("C:/Users/Bao Yu/Desktop/project/data/itbit_16000s_sampling.csv",header=0)

In [10]:
btce=pd.read_csv("C:/Users/Bao Yu/Desktop/project/data/processed_data/btce_2.0.csv",header=0)
btce=btce.iloc[:,1:]
btce.head()

       unixtime  price
0 1396572190.00 439.52
1 1396572207.00 437.58
2 1396572228.00 437.53
3 1396572269.00 437.54
4 1396572309.00 437.54

In [11]:
(btce.iloc[-1].unixtime-btce.iloc[0].unixtime)/16000

5415.9874375

In [ ]:
btce_sample = pd.DataFrame(columns=['unixtime','price'])
time=btce.iloc[0].unixtime
price=btce.iloc[0].price
btce_sample=btce_sample.append(btce.iloc[0])


end=btce.iloc[-1]['unixtime']
i=0
while(time<=end):
    if(i%1000==0):print(i)
    time+=16000
    if(time in btce['unixtime']):
        btce_sample=btce_sample.append(btce.loc[btce['unixtime']==time],ignore_index=True)     
    else:
        index=btce.iloc[btce.loc[(time-btce['unixtime'])>=0].unixtime.argsort()[-1:]].index
        btce_sample=btce_sample.append(btce.iloc[index],ignore_index=True)
        btce_sample.iloc[-1,0]=time
    i=i+1
btce_sample.head()

0
1000
2000
3000
4000
5000

In [ ]:
btce_sample.to_csv("C:/Users/Bao Yu/Desktop/project/data/btce_16000s_sampling.csv",header=0)